@import "tailwindcss";
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 30rem;

  /*Light Theme*/
  --color-primary: #fafafa;
  --color-secondary: #eeeeee;
  --color-tertiary: #d4d4d4;
  --color-accent: #695bfd;
  --color-accent-hovered: #4236d9;
  --color-heading: #191919;
  --color-subtext: #71747e;

  /*Dark Theme*/
  --color-primary-dark: #191919;
  --color-secondary-dark: #252525;
  --color-tertiary-dark: #3f3f3f;
  --color-accent-dark: #1E90FF;
  --color-accent-hovered-dark: #217399;
  --color-heading-dark: #fafafa;
  --color-subtext-dark: #928d8d;

  /*General*/
  --color-success: #16a34a;
  --color-error: #e7000b;
  --color-success-hovered: #3dc96e;
  --color-error-hovered: #6d0005;

  --animate-carrot: carrot 2s ease-in-out infinite alternate;

  @keyframes carrot {
    0%,
    10% {
      left: 50px;
    }
    90%,
    100% {
      left: calc(100% - 100px);
    }
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 6px;
  }

  /*Light Theme*/
  ::-webkit-scrollbar-track {
    border-radius: 8px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent-hovered);
  }

  /*Dark Theme*/
  .dark ::-webkit-scrollbar-thumb {
    background: var(--color-accent-dark);
    border-radius: 8px;
  }

  .dark ::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent-hovered-dark);
  }

  .grid-background {
    background-image: radial-gradient(circle, #1919192f 2px, transparent 1px);
    background-size: 40px 40px;
  }

  .dark .grid-background {
    background-image: radial-gradient(circle, #fafafa2f 2px, transparent 1px);
    background-size: 40px 40px;
  }
}

:root {
  font-family: "JetBrains Mono", Arial, sans-serif;
}

body {
  overflow-x: hidden;
}
